<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content">
<div class="container m-5 p-3">
    <div class="card">
        <div class="card-header text-bg-success text-center">Liste des Patients</div>
        <div class="card-body m-0">
            <div class="m-3">
                <form  method="get" th:action="@{index}">
                    <input  type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-success "><i class="bi bi-search"></i></button>
                </form>
            </div>

            <table class="table table-info table-bordered table-hover ">
                <thead>
                <tr>
                    <th>ID</th>  <th>Name</th>  <th>Date</th>  <th>Malade</th>  <th>Score</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listPatients}">
                    <td th:text="${p.getId()}"></td>
                    <td th:text="${p.getName()}"></td>
                    <td th:text="${p.getDateNaissance()}"></td>
                    <td th:text="${p.isMalade()}"></td>
                    <td th:text="${p.getScore()}"></td>
                    <td>
                        <a class="btn btn-danger"
                           onclick="return confirm('are you sure?')"
                                th:href="@{delete(id=${p.getId()},keyword=${keyword},page=${currentpage})}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-success"
                           th:href="@{/editPatient(id=${p.id})}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills " >
                <li th:each="page,status:${pages}" >
                <a th:class="${status.index==currentpage?'btn btn-success m-2':'btn btn-outline-success m-2'}"
                   th:text="${status.index}"
                   th:href="@{index(page=${status.index},keyword=${keyword})}"
                >

                </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>